@media screen and (max-width: 640px) {

    #a-header{
        font-size: 9px;
        margin: 5px;
    }

    #a-header:hover {
        font-size: 10px;
        margin: 5px;
      }

    #div-vaca{
        height: 100px;
    }

    #vaca{
        height: 120px;
        width: 120px;
        margin: 5px;
    }

    h1 {
        font-size: 25px;
        margin: 10px;
    }
    p{
        font-size: 12px;
    }

    #div-entrada{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    #div-ajuda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }

    #div-ajuda-text{
        width: 80%;
        justify-self: center;
        justify-content: center;
        padding: 10px;
    }

    .div-parpas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #div-produto{
        padding: 10px;
    }
    img{
        width: 180px;
        height: 180px;
    }
}
